<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realm of Nayshia</title>
  <link rel="stylesheet" type="text/css" href="/css/indexStyles.css">
  <link rel="icon" href="/realm-of-nayshia.ico" type="image/x-icon">
</head>
<body>
  <p>This page will have links to all the other pages.</p>
  <p>It will have a searchable and filterable table of the games current abilities.</p>
</body>
</html>