<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realm of Nayshia</title>
  <link rel="stylesheet" type="text/css" href="/css/indexStyles.css">
  <link rel="icon" href="/realm-of-nayshia.ico" type="image/x-icon">
</head>
<body>
  <h1>Realm of Nayshia</h1>
  <a href="/abilities">Abilities</a>
  <a href="/items">items</a>
  <a href="/npcs">npcs</a>
  <a href="/quests">quests</a>
  <a href="/recipes">recipes</a>
  <a href="/setBonuses">set bonuses</a>
  <p>This page will be the home page for the app. It will have links to all the other app's pages</p>
  <p>Besides linking to the other pages, this page will have a massive table with player data that will be obtained from the mongo database. There will be a search bar and flitration options to look through the table effectivly.</p>
</body>
</html>